<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="blog_content">
                <h3 class="title">
                    <%= blog.title %>
                </h3>
                <p class="snippet">
                    <%= blog.snippet %>
                </p>
                <p class="body">
                    <%= blog.body %>
                </p>
                <button class="delete" data-doc="<%= blog._id %>">Delete</button>
            </div>
            <%- include("./partials/footer.ejs") %>

                <script>
                    const deleteBtn = document.querySelector(".delete")
                    deleteBtn.addEventListener('click', (e) => {
                        const id = e.target.dataset.doc
                        const deleteRequestPath = '/blogs/' + id
                        fetch(deleteRequestPath, {
                            method: "DELETE"
                        })
                            .then((result) => result.json())
                            .then((result) => window.location = result.redirect)
                            .catch((err) => console.log(err))

                    })
                </script>
    </body>

</html>